<form class="{{cssClass}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
    <div class="header-details">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'DUSTPERADOS.ActorNamePlaceholder'}}"/></h1>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">{{localize "DUSTPERADOS.Description"}}</a>
    <a class="item" data-tab="attributes">{{localize "DUSTPERADOS.SheetHeaderAbilities"}}</a> {{!-- Renamed tab to "Attributes" --}}
    <a class="item" data-tab="inventory">{{localize "DUSTPERADOS.Items"}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab" data-tab="description" data-group="primary">
      {{editor actor.system.description target="system.description" rollData=rollData button=true owner=owner editable=editable}}
    </div>

    {{!-- Attributes Tab --}}
    <div class="tab attributes flexcol" data-tab="attributes" data-group="primary">
      <div class="flexrow">
        {{!-- Abilities Section --}}
        <div class="flexcol ability-section">
          <h2>{{localize "DUSTPERADOS.SheetHeaderAbilities"}}</h2>
          {{#each actor.system.abilities as |ability key|}}
          <div class="ability-row flexrow">
            <label class="ability-label">{{localize ability.label}}</label>
            <input type="text" name="system.abilities.{{key}}.value" value="{{ability.value}}" data-dtype="Number"/>
          </div>
          {{/each}}
        </div>

        {{!-- Hit Locations Section --}}
        <div class="flexcol hit-location-section">
          <h2>{{localize "DUSTPERADOS.HitLocations"}}</h2>
          {{#each actor.system.hitLocations as |location key|}}
          <div class="hit-location-row flexrow">
            <label class="location-label">{{localize (concat "DUSTPERADOS." (capitalize key))}}</label>
            <div class="flexrow hit-value-max">
              <input type="text" name="system.hitLocations.{{key}}.value" value="{{location.value}}" data-dtype="Number"/>
              <span>/</span>
              <input type="text" name="system.hitLocations.{{key}}.max" value="{{location.max}}" data-dtype="Number"/>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>

    {{!-- Inventory Tab --}}
    <div class="tab inventory" data-group="primary" data-tab="inventory">
      {{>"test-partial"}}    
    </div>