<div class="inventory-list">
    <div class="inventory-header flexrow">
        <div class="item-name">{{localize "DUSTPERADOS.ItemName"}}</div>
        <div class="item-controls"></div>
    </div>
    <ol class="item-list">
        {{#each actor.items as |item id|}}
        <li class="item flexrow" data-item-id="{{item._id}}">
            <img class="item-img" src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
            <h4 class="item-name">{{item.name}}</h4>
            <div class="item-controls">
                <a class="item-control item-edit" title="{{localize 'DUSTPERADOS.ItemEdit'}}"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="{{localize 'DUSTPERADOS.ItemDelete'}}"><i class="fas fa-trash"></i></a>
            </div>
        </li>
        {{/each}}
    </ol>
    <div class="inventory-footer">
        <a class="item-create" data-type="equipment"><i class="fas fa-plus"></i> {{localize "DUSTPERADOS.ItemCreateEquipment"}}</a>
    </div>
</div>